.task {
  margin-top: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px 15px;
  border: none;
  border-radius: 15px;

  .task-title {
    flex: 1;
    margin-right: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(198, 0, 0);
    background-color: transparent;
    border: none;
    border-radius: 7px;
    outline-offset: 5px;

    &:focus {
      outline: 2px solid rgba(0, 0, 0, 0.5);
    }
  }

  .isEditing-true {
    outline: 2px solid rgba(0, 0, 0, 0.5);
  }

  .isEditing-false {
    pointer-events: none;
  }

  .isCompleted-true {
    text-decoration-line: line-through;
    font-style: italic;
    color: rgba(100, 0, 0, 0.5);
  }

  button {
    background-color: transparent;
    border: none;
    margin-left: 8px;
    font-size: 1.3rem;
  }

  .done-btn {
    color: rgb(0, 173, 0);
  }

  .edit-btn {
    color: rgb(192, 125, 0);
  }

  .delete-btn {
    color: rgb(190, 0, 0);
  }
}
